html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

nav .navbar {
  width: 100vw;
  overflow-x: hidden;
}

/* :root {
  --nav-pad-fix-margin: 3.2rem;
} */

.nav-pad-fix {
  display: block;
  /* margin-bottom: var(--nav-pad-fix-margin); */
  margin-bottom: 3.53rem;
}

h1,
.h1 {
  font-size: clamp(2rem, 3rem + 1vw, 4.5rem);
  font-weight: 400;
}

h2,
.h2 {
  font-size: clamp(1.4rem, 2.6rem + 1vw, 4.1rem);
  font-weight: 300;
}

h3,
.h3 {
  font-size: clamp(1.3rem, 2.3rem + 1vw, 3.8rem);
  font-weight: 300;
}

h4,
.h4 {
  font-size: clamp(1rem, 2.1rem + 1vw, 3.5rem);
  font-weight: 300;
}


h5,
.h5 {
  font-size: clamp(1rem, 2.1rem + 1vw, 3.5rem);
  font-weight: 300;
}


h6,
.h6 {
  font-size: clamp(1rem, 1.2rem + 1vw, 2rem);
  font-weight: 300;
}

p,
.p {
  font-size: clamp(0.9rem, 1rem + 1vw, 1.6rem);
  font-weight: 300;
}


.flex-1 {
  /* Minus the margin-bottom from nav-pad-fix */
  /* height: clamp(90vh, 100vh - var(--nav-pad-fix-margin), 100vh); */
  height: calc(100vh - 3.53rem);
  position: relative;

  background-image: url("https://images.unsplash.com/photo-1503808450932-a5f56527684f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1534&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-c {
  align-self: center;
}

.flex-1 .h1 {
  font-size: clamp(2.7rem, 3.5rem + 1vw, 6rem);
}

.flex-1 .h2 {
  font-size: clamp(1.8rem, 2rem + 1vw, 3.5rem);
}



.rev-item img {
  width: 35%;
  border-radius: 50%;
}

.rev-items {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

  /* width: fit-content; */
  /* animation: carouselAnim 50s infinite alternate linear; */
}

.rev-item {
  /* display: flex; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* position: relative; */
  width: 300px;
  background: #fff;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 25px;
  box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.5);
}

.rev-item p {
  text-align: center;
  padding: 1rem;
}

.rev-name {
  font-weight: bold;
}

@media (max-width: 768px) {
  .rev-items {
    flex-direction: column;
  }
}


/* @media only screen and (max-width: 768px) {
  .items {
    animation: carouselAnim 35s infinite alternate linear;
  }

  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }

    to {
      transform: translate(calc(-100% + (2 * 300px)));
    }
  }
} */

/* @media (max-width: 625px) {
  .items {
    animation: carouselAnim 35s infinite alternate linear;
  }

  @keyframes carouselAnim {
    from {
      transform: translate(0, 0);
    }

    to {
      transform: translate(calc(-100% + (1 * 300px)));
    }
  }
} */


/* @keyframes carouselAnim {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(calc(-100% + (5 * 300px)));
  }
} */

/* .container .faders {
  width: 100%;
  position: absolute;
  height: 100%;
}

.faders .right,
.faders .left {
  background: linear-gradient(to right,
      rgba(245, 245, 245, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
  width: 15%;
  height: 100%;
  position: absolute;
  z-index: 200;
}

.right {
  right: 0;
  background: linear-gradient(to left,
      rgba(245, 245, 245, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
} */
